<nav>
  <ul>
    <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
    <li><a href="/research.html" class="{% if page.url == '/research.html' %}active{% endif %}">Research</a></li>
    <li><a href="/publications.html" class="{% if page.url == '/publications.html' %}active{% endif %}">Publications</a></li>
    <li><a href="/team.html" class="{% if page.url == '/team.html' %}active{% endif %}">Team</a></li>
    <li><a href="/lab-tour.html" class="{% if page.url == '/lab-tour.html' %}active{% endif %}">Lab Tour</a></li>
    <li><a href="/news.html" class="{% if page.url == '/news.html' %}active{% endif %}">News</a></li>
    <li><a href="/contact-us.html" class="{% if page.url == '/contact-us.html' %}active{% endif %}">Contact Us</a></li>
  </ul>
</nav>
